process {

    withName: FLYE {
        cpus = 2
        memory = '4 GB'
    }

    withName: HIFIASM {
        cpus = 2
        memory = '4 GB'
    }

    withName: RAGTAG_PATCH {
        cpus = 2
        memory = '3 GB'
    }

    withName: LIFTOFF {
        cpus = 1
        memory = '2 GB'
    }

    withName: METRICS {
        cpus = 1
        memory = '1 GB'
    }
}
trace {
    enabled = true
    file = 'results/trace_run2.txt'
}

report {
    enabled = true
    file = 'results/report_run2.html'
}